deepface==0.0.73
jupyter==1.0.0
jupyterlab-server==2.10.3
keyring==23.5.0
keyrings.google-artifactregistry-auth==1.0.0
lime
matplotlib==3.5.1
nbconvert==6.4.1
numpy==1.21.0
opencv-python==4.5.5.62
opencv-python-headless
pandas==1.3.5
Pillow==8.4.0
pyarrow==6.0.1
scikit-image==0.19.1
scikit-learn==1.0.2
seaborn==0.11.2
six==1.15.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-profile==2.4.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.0
tensorflow-datasets==4.3.0
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0
tensorflow-io==0.21.0
tensorflow-metadata==1.6.0
tensorflow-probability==0.14.1
Werkzeug==2.0.2

